@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

/**
svg *[fill] { fill: currentColor }
svg *[stroke] { stroke: currentColor }
*/
svg * {
  transition-property: fill, stroke;
}

/**
@media (prefers-reduced-motion: reduce) {
   * {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
    }
}
*/
body {
  font-family: "Oswald", sans-serif;
  background-color: #2F2C2F;
  color: #FFFFFF;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
  margin: 0;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}
@media screen and (min-width: 767px) {
  .visible-mobile {
    display: none !important;
  }
}
.input {
  background-color: #7D7D7D;
  color: #E0E0E0;
  height: 50px;
  border: 1px solid #E0E0E0;
  padding: 10px 15px;
}
.input::-moz-placeholder {
  color: #E0E0E0;
}
.input::placeholder {
  color: #E0E0E0;
}
.input:focus {
  outline: none;
  background-color: #2F2C2F;
  color: #E0E0E0;
}

textarea.input {
  min-height: 150px;
  resize: none;
}

@media (max-width: 768px) {
  .input {
    height: 30px;
    padding: 5px 10px;
  }
  textarea.input {
    min-height: 100px;
  }
}
.btn {
  min-height: 50px;
  color: #FFFFFF;
  border-radius: 30px;
  border: none;
  font-family: "Roboto", sans-serif;
}
.btn_disabled {
  background-color: #7D7D7D;
}
.btn_available {
  background-color: #FC9700;
}
.btn:focus {
  outline: none;
}

.header {
  min-height: 60px;
  position: sticky;
  top: 0;
  background-color: #1A1A1A;
  color: #E0E0E0;
  font-size: 1.25rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__list {
  list-style: none;
  display: flex;
}
.header__item {
  width: 177px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__item_account {
  width: 60px;
  aspect-ratio: 1;
}
.header__item:hover {
  background-color: #7D7D7D;
  color: #1A1A1A;
}
.header__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__link.is-active {
  background-color: #E0E0E0;
  color: #1A1A1A;
}
.header button {
  background: transparent;
  border: none;
  padding: 0.9375rem;
  cursor: pointer;
  margin-left: auto;
  justify-self: flex-end;
}
.header .overlay {
  background: #2F2C2F;
  opacity: 0.5;
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}

@media (max-width: 767px) {
  .header__menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(15em, 100%);
    z-index: 10;
    background-color: #2F2C2F;
    transition: right 300ms ease-out;
  }
  .header__menu.show {
    right: 0;
  }
  .header__menu.show ~ .overlay {
    display: block;
  }
  .header__list {
    width: 100%;
    flex-direction: column;
    row-gap: 1rem;
  }
  .header__item {
    width: 100%;
    height: 60px;
  }
  .header__item_account {
    aspect-ratio: unset;
  }
}
.footer {
  background-color: #1A1A1A;
  color: #E0E0E0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__list {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 4.375rem;
}
.footer__item {
  font-weight: 500;
  line-height: 100%;
}

@media (max-width: 1440px) {
  .footer__list {
    padding: 3rem 2.5rem;
  }
}
@media (max-width: 1280px) and (min-width: 768px) {
  .footer__list {
    flex-wrap: wrap;
    row-gap: 1rem;
  }
  .footer__item {
    flex: 1 1 45%;
  }
  .footer__item:nth-child(2), .footer__item:nth-child(4) {
    text-align: right;
  }
}
@media (max-width: 767px) {
  .footer {
    font-size: 0.75rem;
  }
  .footer__list {
    flex-direction: column;
    row-gap: 1.25rem;
    padding: 1.5625rem 3.5625rem;
  }
}
.section {
  padding: 48px 70px;
  color: #E0E0E0;
}
.section__title {
  font-size: 6rem;
  line-height: 1em;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.section__line {
  margin: 0;
  margin-bottom: 2rem;
}
.section__text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  line-height: 2em;
  margin-bottom: 2rem;
}

@media (max-width: 1280px) {
  .section {
    padding: 24px 40px;
  }
  .section__title {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .section {
    padding: 16px 10px;
  }
  .section__title {
    font-size: 3rem;
    text-align: center;
  }
  .section__line {
    margin-bottom: 1.5rem;
  }
  .section__text {
    font-size: 0.75rem;
    line-height: 1.4em;
    margin-bottom: 1rem;
  }
}
.movie__list {
  display: grid;
  grid-template-columns: repeat(4, 248px);
  justify-content: space-between;
  row-gap: 1.25rem;
}
.movie__item {
  cursor: pointer;
  min-width: 248px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.movie__title {
  text-transform: uppercase;
  font-size: 1.25rem;
  line-height: 1.25;
}
.movie__start {
  font-size: 1rem;
  line-height: 1;
}
@media (max-width: 1280px) {
  .movie .movie__list {
    grid-template-columns: repeat(3, 248px);
  }
}
@media (max-width: 1024px) {
  .movie .movie__list {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
  }
  .movie .movie__item {
    scroll-snap-align: start;
    margin-bottom: 0.4rem;
  }
}

.auth {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/auth-bg.jpg") center/cover no-repeat;
  height: 100vh;
  background-color: #1A1A1A;
}
.auth__wrapper {
  display: flex;
  flex-direction: column;
  width: 600px;
  background-color: #2F2C2F;
  color: #7D7D7D;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}
.auth__tabs {
  display: flex;
}
.auth__tab {
  width: 50%;
  text-transform: uppercase;
  background-color: #1A1A1A;
  color: #E0E0E0;
  font-size: 1.25rem;
  line-height: 1;
  padding: 20px 0;
  border: none;
}
.auth__tab.is-active {
  background-color: #E0E0E0;
  color: #1A1A1A;
}
.auth__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  row-gap: 24px;
  padding: 32px 50px;
}

@media (max-width: 768px) {
  .auth__wrapper {
    width: 300px;
  }
  .auth__tab {
    font-size: 0.875rem;
    line-height: 1;
    padding: 10px 0;
  }
  .auth__form {
    font-size: 0.875rem;
    row-gap: 1rem;
    padding: 1.5rem;
  }
}
.hall {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 25px;
  margin-bottom: 2rem;
}
.hall__rows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}
.hall__row {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.hall__row_number:first-child {
  text-align: right;
}
.hall__row_number:last-child {
  text-align: left;
}
.hall__screen {
  background-color: #E0E0E0;
  color: #1A1A1A;
  font-weight: 500;
  line-height: 100%;
  text-align: center;
  padding: 5px 236px;
}

@media (max-width: 768px) {
  .hall {
    font-size: 0.5rem;
    row-gap: 10px;
    margin-bottom: 1rem;
  }
  .hall__rows {
    row-gap: 5px;
  }
  .hall__row {
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
  .hall__row_number {
    font-size: 0.5rem;
  }
  .hall__screen {
    padding: 2px 100px;
  }
}
.seat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  aspect-ratio: 1;
  outline: 1px solid #E0E0E0;
}
.seat_red {
  background-color: #D70000;
}
.seat_green {
  background-color: #0B8D00;
}
.seat_blue {
  background-color: #1E00D7;
}
.seat_black {
  background-color: #1A1A1A;
}

@media (max-width: 768px) {
  .seat {
    width: 10px;
  }
}
.price {
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  border-spacing: 5px;
}
.price th, .price td {
  background-color: #E0E0E0;
  color: #1A1A1A;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1em;
  width: 145px;
  padding: 10px 30px;
}
.price__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .price th, .price td {
    font-size: 0.875rem;
    width: 70px;
    padding: 10px 3px;
  }
}
.contacts__form {
  margin: 0 auto;
  width: 670px;
  text-transform: uppercase;
  background-color: #1A1A1A;
  color: #E0E0E0;
  padding: 32px 85px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 2rem;
}
.contacts__map {
  margin: 0 auto;
  width: 670px;
  height: 500px;
  text-align: center;
  outline: #7D7D7D 4px solid;
  overflow: hidden;
}

@media (max-width: 768px) {
  .contacts__form {
    width: 300px;
    padding: 16px 40px;
  }
  .contacts__map {
    width: 300px;
    height: 228px;
  }
}/*# sourceMappingURL=styles.css.map */