// Fonts 
$font-main: "Oswald", sans-serif;
$font-secondary: "Roboto", sans-serif;

// Colors 
$color-white: #FFFFFF; // Цвет части текста сайта
$color-alt: #E0E0E0; // Цвет основной части текста сайта
$color-black: #1A1A1A; // Основной цвет шапки и подвала
$color-dark: #2F2C2F; // Фоновый цвет страницы
$color-gray: #7D7D7D; // Дополнительный темный цвет
$color-accent: #FC9700; // Акцентный цвет для кнопок
$color-green: #0B8D00; // Зеленые места в зале
$color-blue: #1E00D7; // Синие места в зале
$color-red: #D70000; // Красные места в зале