.btn {
  min-height: 50px;
  color: var(--color-white);
  border-radius: 30px;
  border: none;
  font-family: var(--font-secondary);
}
.btn_disabled {
  background-color: var(--color-gray);
}
.btn_available {
  background-color: var(--color-accent);
}
.btn:focus {
  outline: none;
}