.price {
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  border-spacing: 5px;
}

.price th, .price td {
  background-color: var(--color-alt);
  color: var(--color-black);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1em;
  width: 145px;
  padding: 10px 30px;
}

@media (max-width: 768px) {
  .price th, .price td {
    font-size: 0.875rem;
    width: 70px;
    padding: 10px 3px;
  }
}