.modal__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 5rem;
  background: none;
  border: none;
  color: var(--color-white);
}

@media (max-width: 768px) {
  .modal__close {
    top: 1rem;
    right: 1rem;
  }
}