.auth {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../images/auth-bg.jpg") center/cover no-repeat;
  height: 100vh;
  background-color: var(--color-black);
}