.new__info {
  padding-left: 6rem;
  z-index: 100;
  grid-column: 1/span 1;
  grid-row: 1/-1;
}

@media (max-width: 768px) {
  .new__info {
    grid-row: 2/span 1;
    grid-column: 1/-1;
    padding-inline: 1rem;
    text-align: center;
  }
}