.header {
  z-index: 1000;
  min-height: 60px;
  position: sticky;
  top: 0;
  background-color: var(--color-black);
  color: var(--color-alt);
  font-size: 1.25rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header button {
  background: transparent;
  border: none;
  padding: 0.9375rem;
  cursor: pointer;
  margin-left: auto;
  justify-self: flex-end;
}
.header .overlay {
  background: var(--color-dark);
  opacity: 0.5;
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}

