.modal__content {
  background: var(--color-dark);
  padding: 20px;
  border-radius: 8px;
  max-width: 750px;
  width: 100%;
}

@media (max-width: 768px) {
  .modal__content {
    max-width: 320px;
    padding: 20px 10px;
  }
}