.btn {
  min-height: 50px;
  color: $color-white;
  border-radius: 30px;
  border: none;
  font-family: $font-secondary;

  &_disabled {
    background-color: $color-gray;
  }

  &_available {
    background-color: $color-accent;
  }

  &:focus {
    outline: none;
  }
}

