.contacts {

  &__map {
    margin: 0 auto; 
    max-width: 670px; 
    text-align: center;
    border: $color-gray 4px solid;
    overflow: hidden;
  }

  &__form {
    background-color: $color-black;
    display: flex;
    flex-direction: column;
    max-width: 670px;
    padding: 32px 85px;
    margin: 0 auto;
    border-radius: 30px;

    margin-bottom: 2rem;
  }
}