.input {
  background-color: $color-gray;
  color: $color-alt;
  height: 50px;
  border: 1px solid $color-alt;
  padding: 10px 15px;

  &::placeholder {
    color: $color-alt;
  }

  &:focus {
    outline: none;
    background-color: $color-dark;
    color: $color-alt;
  }
}

textarea.input {
  min-height: 150px;
  resize: none;
}

@media (max-width: 768px) {
  .input {
    height: 30px;
    padding: 5px 10px;
  }

  textarea.input {
    min-height: 100px;
  }
}