.price {
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  border-spacing: 5px;

  & th,
  & td {
    background-color: $color-alt;
    color: $color-black;

    font-weight: 500;
    font-size: 1rem;
    line-height: 1em;
    
    width: 145px;
    padding: 10px 30px;
  }
  
  &__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 768px) { 
  .price {
    
    & th,
    & td {
      font-size: .875rem;
      width: 70px;
      padding: 10px 3px;
    }
  }
}