.seat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  aspect-ratio: 1;
  outline: 1px solid $color-alt;

  &_red {
    background-color: $color-red;
  }

  &_green {
    background-color: $color-green;
  }

  &_blue {
    background-color: $color-blue;
  }

  &_black {
    background-color: $color-black;
  }
}

@media (max-width: 768px) {
  .seat {
    width: 10px;
  }
}