.section {
  padding: 48px 70px;
  color: $color-alt;
  
  &__title {
    font-size: 6rem;
    line-height: 1em;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }
  
  &__line {
    margin: 0;
    margin-bottom: 2rem;
  }

  &__text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    line-height: 2em;
    margin-bottom: 2rem;
  }
}

@media (max-width: 1280px) {
  .section {
    padding: 24px 40px;

    &__title {
      font-size: 4rem;
    }
  }
}

@media (max-width: 768px) {
  .section {
    padding: 16px 10px;

    &__title {
      font-size: 3rem;
      text-align: center;
    }

    &__line {
      margin-bottom: 1.5rem;
    }

    &__text {
      font-size: .875rem; 
      line-height: 1.4em;
      margin-bottom: 1rem;
    }
  }
}