.next{
  z-index: 100;
  position: absolute;
  width: 4rem;
  cursor: pointer;
  opacity: 0.2;
  transition: all 0.3s ease;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}

.next:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .next {
    display: none;
  }
}


