// Fonts 
$font-main: "Oswald", sans-serif;
$font-secondary: "Roboto", sans-serif;

// Colors 
$color-white: #FFFFFF;
$color-alt: #E0E0E0;
$color-black: #1A1A1A;
$color-dark: #2F2C2F;
$color-gray: #7D7D7D;
$color-accent: #FC9700;
$color-blue: #1E00D7;
$color-red: #D70000;
$color-green: #0B8D00;