.section {
  padding: 48px 70px;
  color: var(--color-alt);
}

@media (max-width: 1280px) {
  .section {
    padding: 24px 40px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 16px 10px;
  }
}

