.contacts__form {
  margin: 0 auto;
  width: 670px;
  text-transform: uppercase;
  background-color: var(--color-black);
  color: var(--color-alt);
  padding: 32px 85px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .contacts__form {
    width: 300px;
    padding: 16px 40px;
  }
}